<div class="page-header text-center bg-info text-uppercase">
    <h1>Multiplicación Arábiga</h1>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-sm-2">
        
        </div>
        <div class="col-sm-8">
            <div class="d-flex justify-content-center">
                <input placeholder="Numero 1" class="form-control text-center" [disabled]="celdas" type="number" [(ngModel)]="num1">        
            </div>
        </div>
        <div class="col-sm-2">
        
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-2">
        
        </div>
        <div class="col-sm-8">
            <div class="d-flex justify-content-center">
                <input placeholder="Numero 2" class="form-control text-center" [disabled]="celdas" type="number" [(ngModel)]="num2">        
            </div>
        </div>
        <div class="col-sm-2">
        
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-4">
        
        </div>
        <div class="col-sm-4">  
            <div class="d-flex justify-content-center">
                
                <div class="row">
                    <div class="col-sm-6">
                        <button class="btn btn-info btn-sm" (click)="obtenerDatos()">Obtener datos</button> 
                    </div>
                    
                    <div class="col-sm-6">
                        <button class="btn btn-info btn-sm" (click)="calcular()">Calcular</button> 
                    </div>

                </div>
                 
            </div>
        </div>
        <div class="col-sm-4">  

        </div>
    </div>
</div>